* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  user-select: none;
}

:active, :hover, :focus {
  outline: 0;
  outline-offset: 0;
}

input {
  border: none;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}